# Søk i tidsskrift

In [2]:
import json
import sqlite3
import requests
import pandas as pd
import dhlab.module_update as mu
mu.update('mods_meta')
import mods_meta as mm
import dhlab.nbtext as nb
from dhlab.nbtokenizer import tokenize
import re
from IPython.display import Markdown
from collections import Counter

Updated file `C:\Users\larsj\Documents\GitHub\bokhylla_api_medietyper\mods_meta.py`

### fjern ellipser i pandarammer

In [3]:
pd.set_option('display.max_colwidth', None)

### Hjelpefunksjoner

In [4]:
def nb_search(
    term = '', 
    creator = None, 
    number = 50, 
    page = 0, 
    title = None,
    mediatype = None, 
    lang = None,
    period = None,
    random = False
):
    """Søk etter term og få ut json"""
    
    # max number of hits pr. page
    # page has also a max of 50 - not checked
    
    number = min(number, 50)
    
    filters = []
    aq = []
    

    params = {
        'page':page, 
        'size':number,
        'random': random
    }
    
    if lang != None:
        aq.append('languages:{lang}'.format(lang = lang ))
    
    if title != None:
        filters.append('title:{title}'.format(title = title))
        
    if creator != None:
        filters.append('creator:{c}'.format(c=creator))
    
    if mediatype != None:
        filters.append('mediatype:{mediatype}'.format(mediatype=mediatype))
    
    if period != None:
        filters.append('date:[{date_from} TO {date_to}]'.format(date_from = period[0], date_to = period[1]))
    
    if filters != []:
        params['filter'] = filters
    
    if aq != []:
        params['aq'] = aq
        
    if term != None:
        params['q'] = term
    
    r = requests.get("https://api.nb.no:443/catalog/v1/items", params = params)
    return r.json()

def find_urns_sesam(term = None, creator = None, number=50, page=0, lang = None, title = None, mediatype = None, 
                    period = None, random = False):
    """generates urns/sesamid from item search"""
    x = nb_search(
        term = term, creator = creator, title = title,
        number = number, page = page, mediatype=mediatype, period = period, 
        lang = lang,
        random = random
    )
    try:
        sesamid =[f['id'] for f in x['_embedded']['items']]
    except:
        sesamid = []
    return sesamid


def find_items(term = None, 
               creator = None, 
               number = 100, 
               lang = None, 
               title = None, 
               mediatype = None, 
                period = None
              ):
    """find ids from a spec"""
    pages = number // 50
    lastnumbers = number % 50
    print(pages, lastnumbers)
    res = []
    # fetch ids from pages, max hits
    for page in range(pages):
        x = nb_search(
            term = term, creator = creator, title = title,
            number = 50, page = page, mediatype = mediatype, period = period, 
            lang = lang
        )
        res += [f['id'] for f in x['_embedded']['items']]

    # fetch ids from last page
    x = nb_search(
            term = term, creator = creator, title = title,
            number = lastnumbers, page = pages + 1, mediatype=mediatype, period = period, 
            lang = lang)
    res += [f['id'] for f in x['_embedded']['items']]
                  
    return res

def fetch_keys(m, path, delimiter = "/", res = [], start_list = '#'):
    """path /-delimited string, return res if fails, array indices indicaed with start_list"""
    
    # get the sequence of path elements
    path = path.split(delimiter)
    
    x = m
    try:
        for i in range(0, len(path)):
            if path[i].startswith(start_list):
                # then the item is an array selector
                index = int(path[i].split(start_list)[-1])
                x = x[index]
            else:
                x = x[path[i]]
    except KeyError:
        x = res
    return x
        
def find_item(data, item):
    res = []
    if isinstance(data, list):
        print('list', data)
        for subdata in data:
            res += find_item(subdata, item)
    elif isinstance(data, dict):
        for key in data:
            if item in data[key]:
                print('dictvalue',key, data[key])
                res.append(data[key][item])
            else:
                res += find_item(data[key], item)
    return res

def metadata(id):
    r = requests.get("https://api.nb.no:443/catalog/v1/items/" + str(id))

    d = r.json()
    res = {
        'title': fetch_keys(d, 'metadata/title'),
        'contr':[(fetch_keys(x, 'name'), fetch_keys(x, 'roles/#0/name')) for x in fetch_keys(d, 'metadata/people')],
        'pages': fetch_keys(d, 'metadata/physicalDescription/extent'),
        'urn': fetch_keys(d, 'metadata/identifiers/urn'),
        'year': fetch_keys(d, 'metadata/originInfo/issued'),
        'topics':fetch_keys(d, 'metadata/subject/topics'),
        'genres': fetch_keys(d, 'metadata/genres'),
        'target_group':fetch_keys(d, 'metadata/targetAudienceNotes')
                            
    }

    return res

def get_konks(urn, phrase, window = 500, n = 1000):
    import requests
    querystring = '"'+ phrase +'"' 
    query = {
        'q':querystring,
        'fragments': n,
        'fragSize':window
       
    }
    r = requests.get("https://api.nb.no/catalog/v1/items/{urn}/contentfragments".format(urn=urn), params = query)
    res = r.json()
    results = []
    try:
        for x in res['contentFragments']:
            pid = x['pageid']
            hit = x['text']
            splits = hit.split('<em>')
            s2 = splits[1].split('</em>')
            before = splits[0]
            word = s2[0]
            after = s2[1]
            results.append({'urn': urn, 'before': before, 'word':word, 'after':after})
    except:
        True
    return results

def get_konkordanser(word = '', urns = None, window = 500, n = 1000):
    konks = []
    for u in urns:
        konks += get_konks(u, word, window = window, n = n)
    return konks

In [5]:
def count_from_conc(concordance):
    """From a concordance, count the words in it. Assume konks reside a dataframe with columns 'after' and 'before'"""
    word = concordance['word'][0]
    return nb.frame_sort(nb.frame(Counter(tokenize(' '.join(concordance['after'].values + concordance['before'].values))), word))

def count_from_conc_window(concordance, before = 5, after = 5):
    """From a concordance, count the words in it. Assume konks reside a dataframe with columns 'after' and 'before'"""
    word = concordance['word'][0]
    # join before and after
    return nb.frame_sort(
            nb.frame(
                Counter(
                    [tokens for toklists in [tokenize(c)[:after] for c in concordance['after'].values] for tokens in toklists] 
                    + 
                    [tokens for toklists in [tokenize(c)[-before:] for c in concordance['before'].values] for tokens in toklists]
                )
            ), 
            word
        )

# Søk i tidsskrift

In [6]:
rand = find_urns_sesam('',  number = 50, random = True, mediatype = 'tidsskrift', title = 'blikk')

In [7]:
konk = pd.DataFrame(get_konkordanser('vi', urns = rand, window = 500))

In [36]:
konks = lambda x: pd.DataFrame(get_konkordanser(x, urns = rand, window = 500))

In [8]:
konk

,urn,before,word,after
0,274c194c0670b84625233d15dbc2a204,ungdom er ei ekstra sårbar gruppe: «[...] de lurer på mange hjerteskjærende ting. For eksempel fikk,vi,spørsmålet ‘hvordan kan jeg stoppe å være homofil?’ Mange skulle ønske at de var noe annet enn
1,274c194c0670b84625233d15dbc2a204,som tenker helhetlig.,Vi,trenger trojanske hester som løfter lhbt-temaet inn på arenaer
2,274c194c0670b84625233d15dbc2a204,"Skeiv verden og Skeiv ungdom skal utradere skammen og mobbingen alene, er uansvarlig av regjeringen.",Vi,forventer at de rødgrønne nå lager en konkret og helhetlig lhbt-plan der tiltakene i skolen blir
3,274c194c0670b84625233d15dbc2a204,år siden homoforbudet i straffelo- flere radiohits bak seg. ven ble opphevet. Med oss på laget har,vi,"fått Mer sang blir det når Norges lekreste homseden største homoforkjemperen i Norge, Kim Fri- kor,"
4,274c194c0670b84625233d15dbc2a204,"Morten Skogmus og Klatremus er som kjent venner. - Forholdet deres er ikke helt definert, men åpent.",Vi,"får ikke vite om deres sivile status, og det kan man bruke til sin egen fordel. Klatremus"
...,...,...,...,...
6228,15978476302695a4b857b76456d7945b,"sier han. gg "" Hamlet, trommer B .< Morsomt seg til en hybrid av funk, jazz-ele- Så far",vi,"håpe Sugarpops-budskapet menter og jungle, alt innpakket i nådde fram til homsene. I hvertfall 90-tallslyd,"
6229,15978476302695a4b857b76456d7945b,Sugarpops at det var mortydelig satte pris på. - Det var et somt å spille på Castro. -,Vi,"kjengodt publikum, sier Malika, grup- ner mange i miljøet så det er vår .yl|| .|B pas eneste"
6230,15978476302695a4b857b76456d7945b,en i dykker- re fra Amsterdam og Berlin ker til at våre deiligste og Store under- drakt og,vi,så også en kjekk - helt til du spaserer ut i skitneste fantasier kan leves holdninasiiODO- sikkerhetsvakt
6231,15978476302695a4b857b76456d7945b,nnom uten synlig kles- Oslo som for tida definitivt og pusset opp huset med bar utsida møtte,vi,"en fyr som ode, er det alltid mye gir en følelse av å være iet nede, skikkelig pisserenne,"
6232,15978476302695a4b857b76456d7945b,"tenke pa varme, sol og sjø. Hva skyldes sa denne trang- en til å lage rolig harmonisk lyd?",Vi,"Sugairpops spør gitarist og låtskriver Glenn Glenn Thomassen, gitar Thomassen. - Jeg har lav puls av"

### For kollokasjoner, lag en referanse

In [33]:
ref = nb.frame(nb.totals(50000), 'tot')

### Hent en kollokasjon 

Kollokasjonene tar utgangspunkt i en konkordans. Parametre er før og etter

In [32]:
coll = count_from_conc_window(konk, before = 5, after = 5)

In [41]:
def make_coll(word, urns, before = 5, after = 5, ref = ref):
    konk = pd.DataFrame(get_konkordanser(word, urns = urns, window = 500))
    coll = count_from_conc_window(konk, before = 5, after = 5)
    coll['pmi'] = coll[0]/ref.tot
    return nb.frame_sort(coll, 'pmi')

### lager en vektingskolonne

Kolonne kalt `pmi` for  pointwise mutual information.

$\textrm{pmi} = \frac{\textrm{collocation frequencies}}{\textrm{reference frequencies}}$

In [34]:
coll['pmi'] = coll[0]/ref.tot

In [35]:
nb.frame_sort(coll, 'pmi').head(50)

                0       pmi
lesbiske       43  0.001595
VW             33  0.001386
Fjeldstad      29  0.001279
S2             30  0.001060
EE             38  0.000952
gratulerer     23  0.000941
homofile       54  0.000901
homofil        21  0.000900
Pf             29  0.000896
samboende      15  0.000632
vikar          33  0.000628
Miami          19  0.000586
19.00          13  0.000578
legning        28  0.000569
forespørsler   17  0.000515
HP             28  0.000508
Castro         14  0.000504
Space          18  0.000485
BH             22  0.000456
homoseksuelle  13  0.000446
Telefax        26  0.000433
Haraldsen      12  0.000404
spe            28  0.000399
mva.           20  0.000380
etterfølger    24  0.000368
Lover          28  0.000356
P.             13  0.000343
ildce           8  0.000340
sam-           28  0.000337
O.             12  0.000337
Folke-         26  0.000329
▼              15  0.000323
Sak            31  0.000302
ee             19  0.000290
NORGE          32  0.000289
innby           7  0.000288
Fish           22  0.000287
OSS            11  0.000285
bekreftet      86  0.000282
Karina          7  0.000279
utfordre       20  0.000279
Kjersti        30  0.000275
lovar           6  0.000274
avslører       21  0.000266
permisjon      34  0.000266
utløper         7  0.000261
mnd            14  0.000258
slappet        19  0.000252
Apen           11  0.000252
ode            14  0.000251

In [10]:
coll.sum()

0    57164
dtype: int64

In [44]:
make_coll('homse', rand).head(20)

               0       pmi
KOMMER        84  0.003363
ordi         121  0.003057
Sex           84  0.001253
magasiner     23  0.000599
HP            28  0.000508
sparker       20  0.000386
Telemark     121  0.000310
Samtale       29  0.000270
åpen          88  0.000207
begravelser    5  0.000169
livs-          4  0.000162
Kvelden       11  0.000155
sey            5  0.000152
stipend       10  0.000149
banker        42  0.000145
skribent       5  0.000135
Jon          121  0.000116
velter         6  0.000092
busser         6  0.000086
1993         122  0.000076

In [45]:
make_coll('dem', rand).head(20)

                0       pmi
eda            16  0.000432
send           48  0.000350
nålene          8  0.000349
lesbiske        9  0.000334
Folke-         26  0.000329
Send           19  0.000219
homofile       13  0.000217
ågi            14  0.000180
stjeler         8  0.000142
lovet          59  0.000111
beskytte       47  0.000099
klemmer         8  0.000092
vanker          2  0.000089
homofil         2  0.000086
høylydt         2  0.000075
artister        2  0.000071
Il             22  0.000070
nummer         46  0.000070
ringe          59  0.000070
homoseksuelle   2  0.000069

In [46]:
make_coll('lyst', rand).head(20)

                  0       pmi
Mimi             14  0.000496
kvinnelig        21  0.000115
lesbiske          3  0.000111
kloden            4  0.000053
morsomste         1  0.000043
homofil           1  0.000043
diskriminerende   1  0.000043
dent              1  0.000043
bankkonto         1  0.000042
glitter           1  0.000042
Akerselva         1  0.000040
intervjuede       1  0.000039
innmari           1  0.000039
provosert         1  0.000039
høstens           1  0.000039
overbringe        1  0.000038
stresset          2  0.000038
oppfatningene     1  0.000034
HUN               1  0.000033
abonnement        1  0.000032

In [48]:
make_coll('penger', rand).head(20)

                  0       pmi
Fo               28  0.000698
18.00             5  0.000159
dj                6  0.000126
hiv               3  0.000091
2.500             1  0.000045
investerte        1  0.000044
oppfordringen     1  0.000044
Records           1  0.000041
finansierer       1  0.000041
Workshop          1  0.000038
lesbiske          1  0.000037
tolerant          1  0.000037
Vegas             1  0.000036
bevilget          5  0.000036
Alicia            1  0.000033
ente              1  0.000033
kassa             2  0.000033
sommerens         1  0.000032
bevilges          1  0.000031
besteforeldrene   1  0.000031

In [49]:
make_coll('aids', rand).head(20)

                   0       pmi
lesbiske         112  0.004154
hiv              127  0.003847
informerer        82  0.003003
STATENS           81  0.002896
homofile         113  0.001885
Landsforeningen   22  0.000865
HELSE             20  0.000848
Opera             28  0.000500
Aires             17  0.000433
forsvinn          11  0.000426
Seksjon           22  0.000422
sjenert           45  0.000406
▼                 17  0.000366
MM                46  0.000330
lig              112  0.000319
Pluss              8  0.000288
Verdens           86  0.000271
1604               8  0.000255
Mill              33  0.000235
råka              11  0.000212

In [50]:
make_coll('hiv', rand).head(20)

              0       pmi
aids        129  0.003722
adopsjon    121  0.002617
fei         121  0.001494
HELSE        31  0.001315
sammen-      22  0.000949
Gratis       16  0.000712
smitter      20  0.000686
ds          121  0.000662
Pluss        18  0.000647
Rica         17  0.000594
Oppfølging   21  0.000577
JW           10  0.000430
▼            19  0.000409
gratis      120  0.000391
forelegge    11  0.000375
Pb           26  0.000323
Costa        17  0.000319
sere         10  0.000299
gere          9  0.000289
Hirsch        9  0.000287